.container {
	width: 66%;
	margin: auto;
	text-align: center;
}
body{
    font-family: "Poppins", sans-serif;
}
header {
	padding-top: 70px;
}
.content-box {
	width: 65%;
	margin: auto;
}
.content-box h1 {
	font-size: 48px;
	font-weight: 600;
	line-height: 3rem;
	margin-top: 11px;
}
.content-box p {
	font-size: 20px;
	line-height: 2.2rem;
	font-weight: 400;
	color: #6C727F;
	margin-bottom: 64px;
}
.contact-form form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contact-form {
	width: 50%;
	margin: auto;
	padding: 30px;
	box-shadow: 1px 1px 20px #c4b6b6;
	border-radius: 6px;
}
.contact-form form input {
	padding: 15px 15px;
	background: #F9FAFB;
	border: 1px solid #ddd;
	outline: none;
	border-radius: 15px;
}
.btn-primary {
	padding: 15px 0;
	border-radius: 15px;
	border: none;
	font-size: 18px;
	background: #3662E3;
	color: white;
	cursor: pointer;
}
.contact-form form span {
	font-size: 13px;
}
@media screen and (max-width: 1024px) {
	.container{
		width: 80%;
	}
	header {
		padding-top: 30px;
	}
	.content-box {
		width: 95%;
		margin: auto;
	}
	.content-box h1 {
		font-size: 40px;
	}
	.contact-form {
		width: 80%;
	}
}
@media screen and (max-width: 640px) {
	.container {
		width: 95%;
	}
	.content-box p {
		margin-bottom: 40px;
	}
	.content-box {
		width: 95%;
		margin: auto;
	}
}